/.vscode
/.vs
/.fleet
/.idea

config.json
credentials.json
data.csv
token.json

/Model/keras-importer/obj
/Model/pytorch-importer/obj
/Model/tesseract-integrator/obj
/Model/keras-importer/bin
/Model/pytorch-importer/bin
/Model/tesseract-integrator/bin